<template>
  <div>
    <h1>영화 목록</h1>
    <h2>장르 선택</h2>
    <select v-model="selectedGenreId" class="form-control">
      <option 
        v-for="genre in genres" 
        :key="genre.id" 
        :value="genre.id">
        {{ genre.name }}
      </option>
    </select>
    <div class="row mt-5" v-if="selectedGenreId === 0">
      <movie-list-item
        v-for="movie in movies" 
        :key="movie.id" 
        :movie="movie">
      </movie-list-item>
    </div>
    <div class="row mt-5" v-else>
      <movie-list-item
        v-for="movie in filterMovies" 
        :key="movie.id" 
        :movie="movie">
      </movie-list-item>
    </div>
  </div>
</template>

<script>
import MovieListItem from './MovieListItem.vue'

export default {
  name: 'MovieList',
  components: {
    MovieListItem
  },
  data () {
    return {
      selectedGenreId: 0,
      filterMovies: []
    }
  },
  props: {
    movies: {
        type: Array,
        required: true
    },
    genres: {
        type: Array,
        required: true
    }
  },
  watch: {
    selectedGenreId: {
      handler() {
        this.filterMovies = this.movies.filter(movie => {
          return movie.genre_id === this.selectedGenreId
        })
      }
    }
  },
}
</script>

<style>
.movie--poster {
  width: 200px;
}
select {
  display: block;
  width: 50% !important;
  margin: 2rem auto !important;
}
</style>