<template>
  <div class="col-3 my-3">
    <img class="movie--poster my-3" :src="movie.poster_url" :alt="movie.title">
    <h3>{{ movie.title }}</h3>
    <button class="btn btn-primary" data-toggle="modal" :data-target="'#movie-'+movie.id">영화 정보 상세보기</button>
    <movie-list-item-modal :movie="movie"></movie-list-item-modal>
  </div>
</template>

<script>
import MovieListItemModal from './MovieListItemModal.vue'

export default {
  name: 'MovieListItem',
  components: {
    MovieListItemModal
  },
  props: {
    movie: {
        type: Object,
        required: true
    },
  },
}
</script>

<style>

</style>