<template>
  <div id="app">
    <div class="container">
      <movie-list :movies="movies" :genres="genres"></movie-list>
    </div>
  </div>
</template>

<script>
import MovieList from './components/movies/MovieList.vue'

const axios = require('axios');

export default {
  name: 'app',
  components: {
    MovieList,
  },
  data() {
    return {
      movies: [],
      genres: [],
    }
  },
  created() {
    axios.get('https://gist.githubusercontent.com/7akikim/3b140dbdfd9f8348635d7c29c733fc12/raw/45f385a41a1a63d76a9450ec1f95412a08846712/movies.json')
      .then(response => {
        this.movies = response.data
      })
      .catch(error => error)
    axios.get('https://gist.githubusercontent.com/7akikim/b1856a37dd1a2fe0ba2431e7492d385c/raw/471517ec74620de77ae6a79b8809bb8a333a8086/genre.json')
      .then(response => {
        this.genres = [ 
          {id: 0, name: '전체보기'},
          ...response.data
        ]
      })
  },
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
